@font-face {
	font-family: Roboto-Medium;
	src: url(Roboto-Medium.ttf);
}

* {
}

body {
	font-family: Roboto-Medium, Arial, sans-serif;
	background-color: black;
	color: white;
	background-image: url("florian-wehde-V4cHacmEnW8-unsplash.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.container {
	clear: both;
	overflow: auto;
}


.logo img {
	float: left;
}

.tabs {
	float: right;
}

/* Style tab links */
.tablink {
	background-color: #555;
	float: left;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	background-color: transparent;
	transition: all 0.1s ease-in-out;
	border-width: 0;
	border-style: solid;
	border-color: white;
}

.tablink:hover {
	border-width: 0 0 1px 0;
}

.tablink.active {
	border-width: 0 0 1px 0;
}

.tabcontent {
	background-color: rgba(124, 124, 124, 0.9);
	text-align: center;
}

#home {
	background-color: transparent;
}

.profile {
	width: 350px;
	display: inline-block;
	margin: 0 10px 10px 10px;
	text-align: center;
}

.profile-pic {
	width: 50%;
}

button {
	
}

/*@font-face {
	font-family: Roboto-Medium;
	src: url(Roboto-Medium.ttf);
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: Roboto-Medium, Arial, sans-serif;
	background-color: #E8E8E8;
	color: #252525;
}

.header {
	background-image: url(florian-wehde-V4cHacmEnW8-unsplash11.jpg);
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.header-content {
	text-align: center;
	color: white;
	font-weight: bold;
}

.header-content h1 {
	font-size: 10em;
	margin: 150px auto 0 auto;
}

.header-content p {
	font-size: 1.5em;
}

.header-link {
	text-decoration: none;
}

.header-link:link, .header-link:visited {
	color: white;
}

.header-link:hover {
	color: #E8E8E8;
}

.section {
	text-align: center;
	margin: auto;
	width: 100%;
}

.section-title {
	background-color: #252525;
	color: white;
	margin: 0;
	font-weight: normal;
}

.section-content {
	width: 95%;
	margin: auto;
}

.profiles {
	margin: auto;
	padding: 10px;
}

.profile {
	width: 350px;
	display: inline-block;
	margin: 0 10px 10px 10px;
	text-align: center;
}

.profile-pic {
	width: 50%;
}

#past-work ul {
	text-align: left;
}

.footer {
	background-image: url(aerial-view-and-grayscale-photography-of-high-rise-buildings-1105766.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.footer-content {
	text-align: center;
	color: white;
}*/